body {
    text-align: center;
    font-family: Arial;
    color: darkslateblue;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
#container{
    width: 70%;
    Padding: 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    background-color: white;
}
#post{
    text-align: center;
    color: burlywood;
}
#cabecera{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(8, 107, 194);
    font-size: 30px;
    font-weight: bold;
    width: 100%;}