body {

    text-align: center;
    font-family: Arial;
}
#container{
    width: 70%;
    Padding: 1em;
    text-align: left;
    border: 1px solid black;
}
#post{
    text-align: center;
    color: burlywood;
}